
/**
 * TodoItem style
 */

@import "../variables";

.root {
  font-size: 1rem;  
  padding : 0.5rem;
  margin: 0;

  border-bottom: $todo-list-seperator;

  /**
   * Flex settings
   */
//  align-items : center;
//  display: flex;
//  flex-direction : row;
//  justify-content: space-between;
}

.txt{
	display: inline-block;
	margin-left: 1rem;
}

.icon{
	width: 24px;
	height: 24px;
	&:hover{
		fill: $clr-silver - #111;
		cursor: pointer;
	}
	&:active{
		fill: $clr-green + #222;
	}
}

.checkBox{
	fill: $clr-silver;
}

.check{
	fill: $clr-green - #222;
	&:hover{
		fill: $clr-green - #222;
	}
}

.delete{
	width: 20px;
	height: 20px;
	float: right;
	fill: $clr-silver;
	&:hover{
		fill: $clr-red - #222;
		cursor: pointer;
	}
	&:active{
		fill: $clr-red - #333;
	}
	// show only when parent element is hovered
	display: none;
}

.root{
	&:hover{
		.delete{
			display: block;
		}
	}
}

.hidden{
	display: none;
}